/*--------------------------------------------------------------
# Color palette
--------------------------------------------------------------*/

#bdccd4
#264880
#26a3dd
#9bcceb
#4d4e53


/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	color: #264880;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.6;
}

html.full-height {
	background: #9bcceb;
}

/*--------------------------------------------------------------
# Text + link styles
--------------------------------------------------------------*/
code, code.inverse {
	background: white;
	border-radius: 0.3rem;
	color: #264880;
	font-family: 'Bree Serif', serif;
	font-size: 0.9rem;
	padding: 0.1rem 0.4rem 0.3rem 0.4rem;
}

code.inverse {
	background: #264880;
	color: white;
	margin-right: 0.6rem;
}

span.description {
	font-size: 0.8rem;
}

.section-title {
	letter-spacing: 0.1rem;
	padding: 0 2rem;
	text-align: center;
	text-transform: uppercase;
}

a {
	color: #264880;
}

a:hover,
a:visited {
	color: #26a3dd;
}

a.button {
	background: white;
	border-radius: 0.3rem;
	color:  #264880;
	display: inline-block;
	font-weight: 600;
	padding: 0.5rem 0.8rem;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	width: auto;
}

a.button:hover {
	box-shadow: 5px 5px 10px #689bbc;
}

a.privacy {
	background: #264880;
	border-radius: 0.3rem 0.3rem 0 0;
	bottom: 0;
	color: white;
	font-size: 0.8rem;
	font-weight: 600;
	left: 2rem;
	padding: 0.2rem 0.5rem;
	position: absolute;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	z-index: 10;
}

a.privacy:hover {
	background: #9bcceb;
	color: #264880;
}

a.support {
	background: #9bcceb;
	border-radius: 0 0 0.3rem 0.3rem;
	bottom: -4.6rem;
	color: #264880;
	font-size: 0.8rem;
	font-weight: 600;
	height: 2rem;
	right: 2rem;
	padding: 0.3rem 0.5rem 0.5rem 0.5rem;
	position: absolute;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	z-index: 10;
}

a.support:hover {
	background: #264880;
	color: white;
}

a.directmail {
	background: #9bcceb;
	border-radius: 0.3rem;
	color: #264880;
	display: block;
	font-size: 0.8rem;
	font-weight: 600;
	margin: 0.6rem auto;
	padding: 0.5rem;
	position: absolute;
	right: 3rem;
	text-align: center;
	text-decoration: none;
	top: 2rem;
	transition: all 0.2s ease-in-out;
	width: 8rem;
}

a.directmail:hover {
	background: #264880;
	color: white;
}

/*--------------------------------------------------------------
# Containers + grid 
--------------------------------------------------------------*/

.row {
	float: left;
	width: 100%;
	padding: 2rem 0;
}

.container {
	margin: 0 auto;
	max-width: 1024px;
	display: flex;
	flex-wrap: wrap;
}

.container-small {
	margin: 0 auto;
	max-width: 600px;
	position: relative;
	text-align: center;
}

section {
	float: left;
	padding: 1rem 2rem;
	width: 50%;
}

.grid-full {
    width:100%;
}

.grid-half {
   width:calc(100% / 2);
}

.grid-quarter {
    width:calc(100% / 4);
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header {
	background: #264880;
	color: white;
	padding: 2rem 0;
	position: relative;
}

.header-image {
	height: 10rem;
}

.logo {
	display: block;
	margin: 0 auto;
	padding: 0 1rem;
	position: relative;
	width: 260px;
	z-index: 100;
}

.title {
	align-self: center;
	padding-left: 2rem;
	position: relative;
}

.title h1 {
 	font-size: 3rem;
 	font-weight: 800;
 	letter-spacing: 0.1rem;
 	line-height: 3rem;
 	margin: 0;
 }

span.pay-off {
 	color: #26a3dd;
 	display: block;
 	font-size: 0.9rem;
 	font-weight: 700;
 	letter-spacing: 0.15rem;
 	margin-bottom: 1.4rem;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.intro,
.instructions {
	border-bottom: 10px solid #9bcceb;
}

.instructions {
	background: #9bcceb;
}

.support {
	background: #9bcceb;
}

#commands {
	position: relative;
}

#information-policy {
	background: white;
	border: 1px solid white;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #689bbc;
	display: block;
	padding: 0.9rem;
}

/*--------------------------------------------------------------
# Images
--------------------------------------------------------------*/

.bot-image {
	height: 6rem;
	overflow: hidden;
	position: absolute;
	right: 4rem;
	top: -5rem;
	width: 11rem;
}

/* .bot-image-support {
	right: 0;
} */

.bot-image-footer {
	height: 6rem;
	overflow: hidden;
	position: absolute;
	right: 2rem;
	bottom: 0;
	width: 11rem;
}

.bot-image img,
.bot-image-footer img {
	width: 100%;
}

.footer-image {
	position: relative;
}

.screenshot {
	border: 1px solid whitesmoke;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 10px whitesmoke;
	margin-top: 1.2rem;
	padding: 1rem;
	width: 100%;
}

/*--------------------------------------------------------------
# Tables
--------------------------------------------------------------*/

table {
	background: white;
	border: 1px solid white;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #689bbc;
	display: block;
	padding: 0.9rem;
}

td, th {
	text-align: left;
	padding: 0.5rem 0;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
#form {
	margin: 0 auto;
	max-width: 600px;
	margin-top: 4rem;
	position: relative;
}

.form {
	background: white;
	border: 1px solid white;
	border-radius: 0.5rem;
	box-shadow: 5px 5px 10px #689bbc;
	display: block;
	padding: 1.5rem 3rem;
	position: relative;
}

input,
input[type="email"],
input[type="text"],
input[type="submit"],
textarea {
	background: whitesmoke;
	border: none;
	font-size: 0.9rem;
	margin: 0.5rem 0;
	padding: 0.7rem;
	width: 100%;
}

input[type="submit"] {
	background: #264880;
	border-radius: 0.3rem;
	color:  white;
	display: inline-block;
	font-weight: 600;
	padding: 1rem;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
	width: 100%;
}

input[type="submit"]:hover {
	background: #9bcceb;
	box-shadow: 4px 4px 8px whitesmoke;
	color: #264880;
	cursor: pointer;
}

textarea {

}
.error {
	color: red;
	display: none;
	font-size: 0.8rem;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
	min-height: 6rem;
}

.footer{
	background: white;
	padding-bottom: 0;
}

.contact {
	padding: 2rem;
	text-align: left;
}

.contact h4 {
	margin: 0;
}
.contact a {
	text-decoration: none;
	color: #264880;
}

a i.fa-github,
a i.fa-envelope {
	color: #264880;
	font-size: 1.8rem;
}

a i.fa-envelope {
	font-size: 1.6rem;
}

/*--------------------------------------------------------------
# Media queuries
--------------------------------------------------------------*/

@media only screen and (max-width: 600px) {
	.grid-half {
		width: 100%;
	}
	.header-image {
		max-height: 8.4rem;
		overflow: hidden;
 	}
	.title {
		align-self: center;
		padding: 1rem 0;
		text-align: center;
	}
	.download-button {
		display: inline-block;
		margin: 0 auto;
		width: 139px;
	}
	#commands {
		margin-top: 3rem;
	}
	.footer {
		margin-top: 1rem;
	}
	.contact {
		background: #264880;
		padding: 1rem 2rem 4rem 2rem;
		text-align: center;
	}
	.contact a,		
	a i.fa {
		color: white;
	}
	a.support {
		bottom: -4rem;
	}
}